<h2 class="mt-5">J'étudie en...</h2>
<% if student_in_groups.any? %>
  <% student_in_groups.each do |student| %>
    <h3 class="mt-5">
      <%= link_to student.group.name_with_program, program_group_path(student.group.program, student.group) %>
    </h3>
    <% if student.confirmed %>
      <%= render 'users/students/progression', student: student %>
    <% else %>
      <span class="badge badge-dark">En attente de confirmation</span>
    <% end %>
  <% end %>
<% else %>
  Vous n'êtes inscrit(e) dans aucune formation pour le moment.
  Découvrez <a href="<%= programs_path %>">ici la liste des formations</a>.
<% end %>
