<h2 class="mt-5">J'étudie en...</h2>
<% if student_in_groups.any? %>
  <% student_in_groups.each do |student| %>
    <h3 class="mt-5">
      <%= link_to student.group.name_with_program, program_group_path(student.group.program, student.group) %>
    </h3>
    <% if student.confirmed %>
      <%
      group = student.group
      program = group.program
      referential = program.referential
      %>
      <table class="table table-bordered">
        <% referential.competencies.each do |competency| %>
          <tr>
            <td><%= competency %></td>
            <% referential.levels.each do |level| %>
              <td>
                <ul class="list-unstyled">
                  <% competency.critical_learnings.with_level(level).each do |critical_learning| %>
                    <% if current_user.validated?(critical_learning) %>
                      x
                    <% else %>
                      o
                    <% end %>
                  <% end %>
                </ul>
              </td>
            <% end %>
          </tr>
        <% end%>
      </table>
    <% else %>
      <span class="badge badge-dark">En attente de confirmation</span>
    <% end %>
  <% end %>
<% else %>
  Vous n'êtes inscrit(e) dans aucune formation pour le moment.
  Découvrez <a href="<%= programs_path %>">ici la liste des formations</a>.
<% end %>
