<%= content_for :title, 'Référentiels' %>

<div class="row mb-4">
  <% @referentials.each do |referential| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h2><%= link_to referential, referential %></h2>
          <p><%= referential.origin %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= create_button @new_referential, new_referential_path %>
