<%= content_for :title, 'Référentiels' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Origine</th>
    </tr>
  </thead>

  <tbody>
    <% @referentials.each do |referential| %>
      <tr>
        <td><%= link_to referential, referential %></td>
        <td><%= referential.origin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button Referential %>
