<div class="row mt-5">
  <div class="col-md-8">
    <div class="big_number"><%= step %></div>
    <%= image_tag image, class: 'img-thumbnail img-fluid' %>
  </div>
  <div class="col-md-3 pt-md-5">
    <h2 class="quote mt-5"><%= sanitize text %></h2>
  </div>
</div>
