<%= content_for :title, 'Pour les développeurs' %>

<%= render  'step',
            step: 1,
            image: 'documentation/developers-github.png',
            text: 'Contribuez au projet <a href="https://github.com/mmibordeaux/arspraxis" target="_blank">sur Github</a>' %>

<%= render  'step',
            step: 2,
            image: 'documentation/developers-heroku.webp',
            text: 'Déployez Ars Praxis en toute autonomie, par exemple avec Heroku' %>
