// Bootstrap variables
$color: #292996
$font-family-serif: 'Lora', serif !default
$font-family-base: $font-family-serif !default
$theme-colors: ( 'primary': $color )
// Import
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap')
@import 'bootstrap'
@import 'trix'
@import 'layout'
@import 'progression'
