<div class="jumbotron <%= controller_name %>">
  <div class="container">
    <h1><%= yield :title %></h1>
    <% if @subtitle.present? %><p><%= simple_format @subtitle %></p><% end %>
  </div>
</div>
