<%= content_for :title, "#{@group}" %>

<%= edit_button [@program, @group] %>

<% if @student %>
  <p>
    <%= @student.confirmed  ? 'Inscription confirmée'
                            : 'Inscription en attente de confirmation' %>
  </p>
<% else %>
  <%= link_to 'Demander l\'inscription', new_user_student_path(user_id: current_user, program_group_id: @group), class: button_classes %>
<% end %>
